<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>rgb</title>
</head>

<body>
    <div class="center">
        <input type="range" min="0" max="255" class="slider" name="red" id="red">
        <input type="range" min="0" max="255" class="slider" name="green" id="green">
        <input type="range" min="0" max="255" class="slider" name="blue" id="blue">
    </div>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script> 

</body>

</html>